*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/LatoRegular.woff2") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

body{
    background-color: #ef6b68;
    text-align: center;
}
h1 {
    padding-top: 50px;
}
h2 {
    height: 38px;
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.6px;
    text-align: center;
    color: #1f233e;
    padding-top: 40px;
    margin-bottom: 10px;
}
.container{
    width: 100%;
    max-width: 1010px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#input {
    width: 219px;
    height: 37px;
    border-radius: 3.2px;
    border: solid 0.8px #1f233e;
    background-color: inherit;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
}

#submit {
    width: 125px;
    height: 30px;
    border-radius: 2px;
    border-color: inherit;
    background-color: #1f233e;
    margin-top: 30px;
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ef6b68;
    margin-right: -3px;
}

#responseField {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 1000px;
    min-width: 191px;
    min-height: 120px;
    background-color: #1f233e;
    margin: auto;
    margin-top: 25px;
    padding: 20px;
    margin-bottom: 50px;
}
.article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ef6b68;

    min-width: 300px;
    width: 100%;
    border-radius: 10px;

    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
#submit:hover {
    color: #ffffff;
    cursor: pointer;
}

#submit:active {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #ef6b68;
    cursor: pointer;
}